<footer class="footer">
  <div class="container">
    <div class="logo__container">
      <a href="" class="logo link logo__footer">ArchiWeb</a>
      <p class="footer__text">
        Archiweb is an architectural consultant based in Berlin, Germany. We
        provide solutions for your architecture and residential design
      </p>
      <ul class="footer__soc-list list">
        <li class="footer__soc-item">
          <a href="" class="footer__soc-link link"
            ><svg width="24" height="24" class="header__search-icon">
              <use href="/src/images/symbol-defs.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="footer__soc-item">
          <a href="" class="footer__soc-link link"
            ><svg width="24" height="24" class="header__search-icon">
              <use href="/src/images/symbol-defs.svg#icon-twitter"></use></svg
          ></a>
        </li>
        <li class="footer__soc-item">
          <a href="" class="footer__soc-link link"
            ><svg width="24" height="24" class="header__search-icon">
              <use href="/src/images/symbol-defs.svg#icon-instagram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <div class="articles__container">
      <p class="articles__title">Articles</p>
      <p class="articles__text">7 Tips for Kids Friendly Interior Design</p>
      <p class="articles__text">Smart Tips for Changing a Room</p>
      <p class="articles__text">Eco-friendly design</p>
    </div>
    <div class="links__container">
      <p class="links__title">Links</p>
      <a class="links__text link">Link 1</a>
      <a class="links__text link">Link 2</a>
      <a class="links__text link">Link 3</a>
    </div>
    <div class="location__container">
      <p class="location__title">Location</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10165.030470840053!2d30.523739476196276!3d50.436301971941!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9e2591553d0f42!2sGulliver%20Tower%20B!5e0!3m2!1sru!2sua!4v1675547538305!5m2!1sru!2sua"
        width="295"
        height="221"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</footer>
