<header class="page-header">
  <div class="container">
    <a href="" class="logo link">ArchiWeb</a>
    <nav class="navigation">
      <ul class="nav-list list">
        <li class="nav-item">
          <a href="" class="nav-link nav-link-active link">Home</a>
        </li>
        <li class="nav-item"><a href="" class="nav-link link">Projects</a></li>
        <li class="nav-item"><a href="" class="nav-link link">About</a></li>
        <li class="nav-item"><a href="" class="nav-link link">Contact</a></li>
      </ul>
    </nav>
    <a class="header__search-link link"
      ><svg width="25" height="21" class="header__search-icon">
        <use href="/src/images/symbol-defs.svg#icon-search"></use>
      </svg>
    </a>
  </div>
</header>
