<section class="hero">
  <div class="container">
    <div class="hero__text-container">
      <h1 class="hero__title">Best Solution For Your Home</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet
      </p>
    </div>
    <img src="/src/images/hero.jpg" alt="house" class="hero__img" />
    <div class="hero__arrow-container">
      <a class="hero__arrow-left link"
        ><svg width="24" height="24" class="hero__arrow-left-icon">
          <use href="/src/images/symbol-defs.svg#icon-arrow-left"></use></svg
      ></a>
      <a class="hero__arrow-right link"
        ><svg width="24" height="24" class="hero__arrow-right-icon">
          <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use></svg
      ></a>
    </div>
  </div>
</section>
