<section class="hero">
  <div class="container">
    <div class="hero__text-container">
      <h1 class="hero__title">Best Solution For Your Home</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
        purus sit amet
      </p>
    </div>
     <div class="swiper mySwiper2">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/src/images/hero.jpg" alt="house" class="hero__img" /></div>
      <div class="swiper-slide"><img src="/src/images/hero2.jpg" alt="house" class="hero__img" /></div>
    <div class="hero__arrow-container">
      <button class="hero__arrow-left"
        ><svg width="24" height="24" class="hero__arrow-left-icon">
          <use href="/src/images/symbol-defs.svg#icon-arrow-left"></use></svg
      ></button>
      <button class="hero__arrow-right"
        ><svg width="24" height="24" class="hero__arrow-right-icon">
          <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use></svg
      ></button>
    </div>
    </div>
  



  </div>
</section>
