<section class="projects">
  <div class="container">
    <div class="up__container">
      <h2 class="projects__title">Our Projects</h2>
      <ul class="projects__nav-list list">
        <li class="projects__nav-item">
          <a href="" class="projects__nav-link projects__nav-link-active link"
            >All</a
          >
        </li>
        <li class="projects__nav-item">
          <a href="" class="projects__nav-link link">Furniture</a>
        </li>
        <li class="projects__nav-item">
          <a href="" class="projects__nav-link link">Design</a>
        </li>
        <li class="projects__nav-item">
          <a href="" class="projects__nav-link link">House</a>
        </li>
      </ul>
    </div>
    <ul class="projects__list list">
      <li class="projects__item">
        <img src="/src/images/projects-1.jpg" alt="house" />
        <p class="projects__item-text">
          Our Services Line one Servive line two
        </p>
      </li>
      <li class="projects__item">
        <img src="/src/images/projects-2.jpg" alt="house" />
        <p class="projects__item-text">
          Our Services Line one Servive line two
        </p>
      </li>
      <li class="projects__item">
        <img src="/src/images/projects-3.jpg" alt="house" />
        <p class="projects__item-text">
          Our Services Line one Servive line two
        </p>
      </li>
      <li class="projects__item">
        <img src="/src/images/projects-4.jpg" alt="house" />
        <p class="projects__item-text">
          Our Services Line one Servive line two
        </p>
      </li>
      <li class="projects__item">
        <img src="/src/images/projects-5.jpg" alt="house" />
        <p class="projects__item-text">
          Our Services Line one Servive line two
        </p>
      </li>
      <li class="projects__item">
        <img src="/src/images/projects-6.jpg" alt="house" />
        <p class="projects__item-text">
          Our Services Line one Servive line two
        </p>
      </li>
    </ul>
  </div>
</section>
