<section class="services">
  <div class="container">
    <h2 class="services__title">Our Services</h2>
    <ul class="services__list list">
      <li class="services__item">
        <img
          src="/src/images/services-1.png"
          alt="services"
          width="103"
          class="services__item-icon"
        />
        <p class="services__item-title">Planning</p>
        <p class="services__item-desc">
          Our Services Line one Servive line two
        </p>
      </li>
      <li class="services__item">
        <img
          src="/src/images/services-2.png"
          alt="services"
          width="103"
          class="services__item-icon"
        />
        <p class="services__item-title">Interior</p>
        <p class="services__item-desc">
          Our Services Line one Servive line two
        </p>
      </li>
      <li class="services__item">
        <img
          src="/src/images/services-3.png"
          alt="services"
          width="103"
          class="services__item-icon"
        />
        <p class="services__item-title">Exterior</p>
        <p class="services__item-desc">
          Our Services Line one Servive line two
        </p>
      </li>
    </ul>
  </div>
</section>
