<section class="testimonial">
  <div class="container">
    <h2 class="testimonial__title">Testimonial</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="testimonial__list list">
            <li class="testimonial__item">
              <img src="/src/images/testimonial-1.png" alt="testimonial" />
              <div class="testimonial__text-container">
                <p class="testimonial__item-title">
                  James Passaquindici Arcand
                </p>
                <p class="testimonial__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  aliquam, purus sit amet luctus venenatis
                </p>
              </div>
            </li>
            <li class="testimonial__item">
              <img src="/src/images/testimonial-2.png" alt="testimonial" />
              <div class="testimonial__text-container">
                <p class="testimonial__item-title">Abram Schleifer</p>
                <p class="testimonial__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  aliquam, purus sit amet luctus venenatis
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="testimonial__list list">
            <li class="testimonial__item">
              <img src="/src/images/testimonial-1.png" alt="testimonial" />
              <div class="testimonial__text-container">
                <p class="testimonial__item-title">
                  James Passaquindici Arcand
                </p>
                <p class="testimonial__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  aliquam, purus sit amet luctus venenatis
                </p>
              </div>
            </li>
            <li class="testimonial__item">
              <img src="/src/images/testimonial-2.png" alt="testimonial" />
              <div class="testimonial__text-container">
                <p class="testimonial__item-title">Abram Schleifer</p>
                <p class="testimonial__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  aliquam, purus sit amet luctus venenatis
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="testimonial__list list">
            <li class="testimonial__item">
              <img src="/src/images/testimonial-1.png" alt="testimonial" />
              <div class="testimonial__text-container">
                <p class="testimonial__item-title">
                  James Passaquindici Arcand
                </p>
                <p class="testimonial__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  aliquam, purus sit amet luctus venenatis
                </p>
              </div>
            </li>
            <li class="testimonial__item">
              <img src="/src/images/testimonial-2.png" alt="testimonial" />
              <div class="testimonial__text-container">
                <p class="testimonial__item-title">Abram Schleifer</p>
                <p class="testimonial__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  aliquam, purus sit amet luctus venenatis
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
